Bookmark Manager

<form action="/bookmarks" method="get">
  <input type="submit" value="View Bookmarks">
</form>


<!-- <form action='/bookmark/new' method"
<input type="submit" value="Add Bookmark"> -->
